.search-result {
	width: 65%;
}

.r-frame {
	display: inline-block;
}

.opening {
	padding-top: 15px;
	width: 92%;
	margin:0px auto;
}

.opening-d {
	list-style-type: none;
	font-size: 14px;
	font-weight:800;
}

.opening-2 {
	padding-top: 15px;
	width: 92%;
}



.dd {
	width: 94%;
	margin:0px auto;
}

.list-frame {
	display: inline-block;
}

.list-cell {
	width: 60%;
	padding-left: 5px;
}

.list-d {
	width: 60%;
}

.l1-f {
	display: inline-block;

}
.l1-l {
	width: 80%;
}

.l3 {
	word-wrap:break-word;
	/*word-break:break-all;*/
}

.light {
	font-size: 14px;
	color: #6f6f6f
}

.list-price {
	padding-top: 60px;
}

.map-frame {
	position: absolute;
	padding: 0;
}
